<ion-view view-title="Browse">
  <ion-content>
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<style type="text/css">
body p {
	text-align: justify;
}
#apDiv1 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
}
.novedad {
	font-style: oblique;
	color: #900;
}

.anulado {
	text-decoration: line-through;
}
</style>
</head>

<body>
<h3 class="ui-bar ui-bar-a">PACTO DE MEJORA 2007 A 2011 SOBRE  CONVENIO OLECTIVO  PARA LA INDUSTRIA DEL METAL VALENCIA 2007 A 2011.</h3>
<p><u><strong>ÁMBITO Y VIGENCIA</strong></u></p>
<p>
  1.	El presente Pacto de Mejora será de aplicación al personal de la plantilla  de Tenneco Automotive Ibérica S.A. del centro de producción y distribución,  localizado en Beniparrell (Valencia)</p>
<p> 2. Quedarán excluidos de este pacto aquellos trabajadores acogidos a otro tipo  de acuerdo con la Empresa</p>
<p> 3.	El presente Pacto de Mejora tendrá vigencia desde el 1 de Enero del 2007  hasta el 31 de Diciembre del 2011, siendo la duración del mismo de 5 años.</p>
<p>  4.	Una vez finalizado el período de vigencia, esta se prorrogará  automáticamente hasta la firma del siguiente pacto de mejora que deberá  negociarse a partir del 1 de Enero del 2012.</p>
<p><u><strong>HORARIOS Y JORNADAS</strong></u></p>
<p>  5.	La jornada laboral será de 1741 horas y 45 minutos. Se distribuirá de Lunes  a Viernes y podrá modificarse por razones de producción de común acuerdo entre  ambas partes firmantes.<br />
  De dicha jornada anual de trabajo, a partir del 2008 y hasta el 2011, cada  empleado dispondrá de 7 horas y 45 minutos, de libre disposición. Para hacer  uso del disfrute de dichas horas, se deberá preavisar 15 días antes, por  escrito, salvo acuerdo entre la partes. Por lo que la jornada individual efectiva  de trabajo será de 1734 horas.  Así  mismo, para el personal de nueva contratación, dispondrá de la parte  proporcional.<br />
Este artículo anula el artículo 40 párrafo segundo, del vigente Convenio  Colectivo Provincial para la Industria del Metal de Valencia, dado que implica  una mejora sustancial sobre el mismo. </p>
<p>6.	El horario de los turnos, salvo acuerdo explícito entre empresa y  trabajador, será el siguiente:<br />
  <u>Primer turno</u>: <br />
  desde 06:00h hasta 14:05h descanso 20 min.<br />
  <u>Segundo turno</u>: <br />
  desde 14:05h hasta 22:10h descanso 20 min<br />
  <u>Tercer turno</u>:  <br />
  desde 22:10h hasta 06:00h descanso 25 min<br />
  <u>Turno partido</u>: <br />
  Mañana desde 08:00h hasta 14:00h descanso 20 min.<br />
  Tarde   desde 15:00h  hasta 17:05h </p>
<p>  Durante el periodo vacacional de verano, el tiempo de descaso será de 5  minutos más en cada turno. </p>
<p>  7.	El tercer turno comienza la semana el domingo a las 22:10h.<br />
  En caso de existir algún día festivo durante la semana, la Empresa se  compromete a analizar y en su caso aprobar, la modificación del día de inicio  del tercer turno, siempre que dicha modificación implique un adelanto de la  producción de dicha semana. <span class="novedad">El  calendario laboral anual se establecerá los días laborables de la semana que  contenga el 19 de Marzo, indicando día y hora de inicio y final del turno  semanal, con el objeto de que el turno nocturno no inicie la jornada laboral el  19 de Marzo. No obstante lo anterior, se deberán trabajar en dicha semana el  mismo número de días laborables que correspondiera al resto de turnos de  trabajo.</span></p>
<p class="novedad">Lo  expuesto en el párrafo anterior también será de aplicación para aquellas  semanas que contengan un festivo en día distinto de lunes y/o viernes, de tal  forma que se pudiera trabajar en día festivo como día laborable normal (jornada  ordinaria), con el fin de no interrumpir la semana laboral.</p>
<p>  8.	El hecho de que la Empresa pudiera no exigir al personal asignado a alguno  de estos turnos, la realización de 7 horas y 45 minutos de trabajo, en modo  alguno implicará derecho adquirido o mejora alguna, y a todos los efectos, el  cómputo de horas será común para todos los turnos.</p>
<p>  Así mismo, el hecho de que la Empresa conceda un año la realización de un  número de horas menor de las indicadas en el presente Pacto, en modo alguna  implicará derecho adquirido o mejora alguna, siendo a todos los efectos el  cómputo anual de horas las indicadas en el presente Pacto. </p>
<p>  9.	La rotación de turnos se realizará semanalmente para la totalidad de la  plantilla. Esta frecuencia de rotación podrá ser modificada, previa solicitud  por parte de la representación legal de los trabajadores y aceptación de la  Empresa, siempre que el cambio haya sido solicitado por la mayoría simple y  haya transcurrido un año desde la última modificación.</p>
<p>  10.	En caso de modificarse el turno natural el trabajador deberá ser avisado  con una antelación no inferior a tres días laborables.</p>
<p><u>RETRIBUCIÓN</u></p>
<p><br />
  11.	Para los incrementos salariales, se tomará como base el Salario Diario  Tenneco Automotive Ibérica, SA. (planta Valencia) siendo los incrementos  anuales:</p>
<ul>
  <li> Para año 2007: IPC previsto por el Gobierno + 1,3 puntos.</li>
  <li>    Para año 2008: IPC previsto por el Gobierno + 1,3 puntos.</li>
  <li>    Para año 2009: IPC previsto por el Gobierno + 1,3 puntos.</li>
  <li>    Para año 2010: IPC previsto por el Gobierno + 1,3 puntos.
  </li>
  <li>Para año 2011: IPC previsto por el Gobierno + 1,3 puntos.</li>
  <li class="novedad">Para el año  2012: Mantenimiento del Salario Diario Tenneco Automotive Ibérica, S.A. (planta  Valencia) establecido para 2011.</li>
  <li class="novedad">Para el año  2013: Mantenimiento del Salario Diario Tenneco Automotive Ibérica, s.a. (planta  de valencia) establecido para 2011.</li>

  <li class="novedad">Para el año  2014:Incremento del uno con diez por ciento (+1.10%) sobre el salario diario  Tenneco Automotive ibérica,s.a. (planta de valencia) establecido para 2011 con  el tratamiento del concepto denominado plus distancia en los términos recogidos  en el artículo 22 del convenio colectivo para la industria, la tecnología y los  servicios del sector del metal de Valencia .</li>

  <li class="novedad">Para el año  2015: Incremento del porcentaje (%) que se acuerde en el convenio colectivo  para la industria, la tecnología y los servicios del sector del metal de  valencia 2015, mas cero con veinte puntos porcentuales (+0.20), sobre el  salario diario Tenneco Automotive ibérica, s.a. (planta de valencia)  establecido para 2014, con tratamiento del  concepto denominado plus distancia en los términos recogidos en el artículo  22  de dicho convenio colectivo.</li>

  <li class="novedad">Para el año  2016: Incremento del porcentaje (%) que se acuerde en el convenio colectivo  para la industria, la tecnología y los servicios del sector del metal de  Valencia en 2016, mas cero con veinte puntos porcentuales (+0.20), sobre el  salario diario Tenneco Automotive ibérica s.a. (planta de Valencia) establecido  para 2015, con tratamiento del concepto denominado plus distancia en los  términos recogidos en el artículo 22 de dicho convenio colectivo.</li>
</ul>
<p>&nbsp;</p>
<p>Salario Diario Tenneco Automotive Ibérica, SA. (planta  Valencia) base para aplicación incremento año 2007 es:</p>
<p>  Grupo  Profesional 5 = 41,00 €/día.<br />
  Grupo  Profesional 6 = 40,36 €/día.</p>
<p>12.	El Salario Diario Tenneco Automotive Ibérica S.A. (planta Valencia) es el  equivalente en la nómina a la siguiente fórmula:<br />
  Salario Base + Plus Convenio + Plus Distancia + Pacto de  Mejora dividido entre 
Días naturales del mes.</p>
<p> 13.	Las cláusulas de revisión salarial para los años de duración de presente  Pacto, son las recogidas en el Artículo 13 del vigente Convenio Colectivo  Provincial para la Industria del Metal de Valencia.</p>
<p><br />
  14.	Aquellos trabajadores que tengan un salario superior lo mantendrán como  complemento personal no compensable ni absorbible y revalorizable.  </p>
<p>15.	La empresa transferirá los importes de la nómina el segundo día laborable  del mes siguiente.</p>
<p><u><strong>NOCTURNIDAD</strong></u>  </p>
<p>16.	Todo trabajador que realice turno de noche percibirá un plus diario de:<br />
  - Año 2007:   13,42 €<br />
  Para el resto de años  hasta el 2011, el plus se incrementará según siguiente tabla:<br />
  - Año 2008:   IPC previsto + 1 punto.<br />
  - Año 2009:   IPC previsto + 1 punto.<br />
  - Año 2010:   IPC previsto + 1 punto.<br />
  - Año 2011:   IPC previsto + 1 punto.<br />
<span class="novedad">- Para el año 2014:  incremento del uno con diez por ciento (1.10%). <br />
- Para el año 2015: incremento del porcentaje (%)  que se acuerde en el convenio colectivo para la industria, y la tecnología y  los servicios del sector del metal de Valencia 2015.  <br />
- Para el año 2016: incremento del porcentaje (%) que se acuerde en el  convenio colectivo para la industria, y la tecnología y los servicios del  sector del metal de Valencia 2016<br />
</span>
<p><span class="novedad">El  resto de conceptos salariales del pacto de mejora 2007-2011 se mantienen en los  importes vigentes del citado pacto de mejora.</span>
<p><u><strong>TURNICIDAD</strong></u>  </p>
<p>17.	La empresa abonará a partir del 1 de enero de 2008 un plus de turnicidad a  todos aquellos empleados que desarrollen su trabajo en régimen de turnos  rotativos.<br />
  Las cantidades a abonar por dicho plus se realizarán sobre el salario base  diario de cada grupo, según viene recogido en el Artículo 17 del vigente  Convenio Colectivo Provincial para la Industria del Metal de Valencia.</p>
<p><u><strong>ANTICIPOS</strong></u>  </p>
<p>18.	Todo trabajador que lo solicite a la Empresa con una antelación mínima de  dos semanas del comienzo de su periodo vacacional, recibirá 500 euros por  transferencia bancaria, el día que comience su periodo vacacional, en concepto  de anticipo de la nómina de agosto del año en curso.</p>
<p><u><strong>PRIMA DE PRODUCCIÓN POR EFICIENCIA  DIRECTA</strong></u></p>
<p>19.	El importe de la Prima por Eficiencia Directa (PED) de Tenneco Automotive  Ibérica S.A. (planta Valencia) se ajustará mensualmente al alza o a la baja  según el porcentaje de desviación de la Eficiencia Directa Global mensual (EDG)  de la planta respecto a los valores de referencia, tomando como referencia el  año 2006, un importe PED de 431,65 euros/mes y una Eficiencia Directa Global  del 78,20 %<br />
  <br />
  PED = PED de referencia  x  EDG dividido entre
  EDG de referencia</p>
<p>20.  La Eficiencia Directa Global se define de la siguiente forma:<br />
  <strong>EDG</strong> = Tiempo Standard / Tiempo Directo<br />
  <strong>Tiempo Standard:</strong> Piezas/hora (según tope) x unidades buenas producidas<br />
  <strong>Tiempo Directo</strong>: Tiempo real invertido en fabricar las unidades descritas  arriba </p>
<p>21.	Todo trabajador que haga acto de presencia en la Empresa y produzca al  menos 3 horas, percibirá el importe de la PED diaria completa.   </p>
<p>22.	Revisión de los valores de referencia: al comienzo de cada año, se promedia  la eficiencia del año anterior y la cuantía económica en concepto de prima  colectiva. El resultado es la referencia, en porcentaje de eficiencia directa y  en importe PED mensual para el año en curso.<br />
  El importe PED de referencia para el año en curso se incrementará  anualmente y a partir del año 2007 en IPC previsto por el Gobierno + 1,3  puntos.  <span class="novedad">El punto 22  del pacto de mejora 2007-2011 se revaloriza en los mismos términos que el punto  1 del presente anexo (lo que se firme en convenio + 0,2%)</span>.</p>
<p>23.	Revisión excepcional de los valores de referencia: En el caso en que haya  un cambio de tiempos de fabricación, de layout, o de los procesos productivos,  se deben recalcular los valores de referencia según el siguiente procedimiento:</p>
<ul>
  <li>  Se realiza el cambio de tiempos de fabricación en el sistema.
  <li>  Se recalcula la eficiencia directa del último mes que se tomará como nuevo  valor de referencia
  <li>  Con la nueva eficiencia directa se recalcula el nuevo importe PED mensual  de referencia para obtener el mismo importe PED del mes anterior.</li>
</ul>
<p><u><strong>PRIMA DE PRODUCCIÓN INDIVIDUAL</strong></u>  </p>
<p>24.	Prima por Producción Individual (PPI), se calculará en base a los Minutos  de Producción Individual Superada (MPIS) o en base a Eficiencia Superada (ES)  según el sistema vigente en la sección de trabajo.  </p>
<p>25.	El importe del MPIS en el año 2007 es de 0,217 euros/minuto. Dicho importe  se incrementará anualmente en IPC previsto por el Gobierno + 1 punto.  </p>
<p><span class="novedad">- Para el año 2014:  incremento del uno con diez por ciento (1.10%). <br />
- Para el año 2015: incremento del porcentaje (%)  que se acuerde en el convenio colectivo para la industria, y la tecnología y  los servicios del sector del metal de Valencia 2015.  <br />
- Para el año 2016: incremento del porcentaje (%) que se acuerde en el  convenio colectivo para la industria, y la tecnología y los servicios del  sector del metal de Valencia 2016<br />
</span> </p>
<p><span class="novedad">El  resto de conceptos salariales del pacto de mejora 2007-2011 se mantienen en los  importes vigentes del citado pacto de mejora.</span> </p>
<p>26.	En el caso de trabajos no cronometrados, el importe para el año 2007 es de  3,38 euros/día o en su defecto la parte proporcional correspondiente a las  horas realizadas en un trabajo no cronometrado.<br />
  Dicho importe se incrementará anualmente a partir de 2008 hasta el 2011 en  IPC previsto por el Gobierno + 1 punto.</p>
<p><span class="novedad">- Para el año 2014:  incremento del uno con diez por ciento (1.10%). <br />
- Para el año 2015: incremento del porcentaje (%)  que se acuerde en el convenio colectivo para la industria, y la tecnología y  los servicios del sector del metal de Valencia 2015.  <br />
- Para el año 2016: incremento del porcentaje (%) que se acuerde en el  convenio colectivo para la industria, y la tecnología y los servicios del  sector del metal de Valencia 2016<br />
</span> </p>
<p><span class="novedad">El  resto de conceptos salariales del pacto de mejora 2007-2011 se mantienen en los  importes vigentes del citado pacto de mejora.</span> </p>
<p>27.	Los minutos para el MPIS computan para cada trabajador en dos cuentas separadas,  una para minutos ganados y otra para minutos perdidos. Mensualmente se  calculará el MPIS para cada trabajador como:</p>
<p>MPIS = Minutos ganados – Minutos perdidos</p>
<p>Se admite una pérdida individual mensual de 60 minutos o la parte  proporcional si el trabajador no ha trabajado todos los días laborables del  mes. El periodo para la obtención del MPIS, será el comprendido entre el día 21  del mes anterior y el día 20 del mes actual.</p>
<p class="novedad">Aquellos  empleados que se encuentren trabajando en un área en la cual se está aplicando  el incentivo TMS, se le aplicara de forma íntegra el texto sobre incentivo TMS,  recogido en el acta de conciliación del juzgado de lo social número 4 de  Valencia, de fecha de 8 de Noviembre de 2012.</p>
<p>28.	El PPI basado en ES se obtendrá de la media obtenida por el OEE (corregido)  de la sección durante el  periodo  comprendido entre el día 21 del mes anterior y el día 20 del mes actual. El  resultado de esta operación se dividirá por los días resultantes (del 21 del  mes anterior y el 20 del mes actual) y se multiplicará por los días que haya  trabajado cada operario.<br />
  El importe PPI de referencia para el año en curso se incrementará  anualmente y a partir del año 2007 en IPC previsto por el Gobierno + 1 punto.</p>
<p><span class="novedad">- Para el año 2014:  incremento del uno con diez por ciento (1.10%). <br />
- Para el año 2015: incremento del porcentaje (%)  que se acuerde en el convenio colectivo para la industria, y la tecnología y  los servicios del sector del metal de Valencia 2015.  <br />
- Para el año 2016: incremento del porcentaje (%) que se acuerde en el  convenio colectivo para la industria, y la tecnología y los servicios del  sector del metal de Valencia 2016<br />
</span> </p>
<p><span class="novedad">El  resto de conceptos salariales del pacto de mejora 2007-2011 se mantienen en los  importes vigentes del citado pacto de mejora.</span> </p>
<p>29.	La Empresa se compromete a buscar e implantar durante el año 2008 un  sistema de incentivo individual para aquellas personas que se encuentran en la  sección de  Movimentación y AM  Distribución. Una vez implantado dicho sistema, quedará anulado el actual  Incentivo Individual que perciben los trabajadores ubicados en la sección de  movimentación y AM Distribución. Dicho sistema no afectará a los trabajadores  de movimentación de las áreas que tengan vigente un sistema de PPI basado en ES </p>
<p>30.	Para nuevas referencias, no se descontará el tiempo negativo del tiempo  positivo, mientras no exista método de trabajo definido y evaluación de riesgos  del mismo, para la producción de dicha nueva referencia.</p>
<p><u><strong>INCENTIVO POR IDEAS Y MEJORAS</strong></u>  </p>
<p>31.	El importe del premio por idea o mejora aprobada, será de 265 euros para el  año 2007 Para los años 2008 y hasta 2011 dicho importe se incrementará  anualmente en IPC previsto por el Gobierno + 1 punto.  </p>
<p>32.	En el caso de que la idea o mejora aprobada, haya sido propuesta por más de  un trabajador, el montante del premio se repartirá a partes iguales entre todos  los integrantes del equipo.</p>
<p><u><strong>25 AÑOS ANTIGÜEDAD</strong></u>  </p>
<p>33.	Aquellos empleados en activo que cumplan 25 años de antigüedad en la  Empresa, serán gratificados con un incentivo de 1000 euros para el año 2007 en  el mes que cumplan los 25 años de antigüedad. La fecha de antigüedad es la que  aparece en el recibo salarial de cada empleado.  </p>
<p>34.	Para los años 2008 y hasta 2011 dicho importe se incrementará anualmente en  IPC previsto por el Gobierno + 1 punto.</p>
<p><u><strong>PAGAS EXTRAS</strong></u>  </p>
<p>35.	Las pagas extras serán dos. La Paga Extra de Junio y la Paga Extra de  Diciembre.<li><strong>Paga Extra de Junio</strong> = 30 días de Salario Diario Tenneco Automotive Ibérica  S.A. (planta Valencia) + Antigüedad consolidad diaria.</li>
<li><strong>Paga Extra de Diciembre</strong> = 30 días de Salario Diario Tenneco Automotive  Ibérica S.A. (planta Valencia) + Antigüedad consolidad diaria.</li>    
  <p> Se abonarán el 20 de Junio y el 19 de Diciembre, respectivamente.</p>
  <p><strong><u>ANTIGÜEDAD CONSOLIDAD Y PAGA DE MARZO</u> </strong>
  </p>
  <p>36.	Será de aplicación lo recogido en el Artículo 16 del vigente Convenio  Colectivo Provincial para la Industria del Metal de Valencia.</p>
  <p><u><strong>SABADOS, DOMINGOS PUENTES Y FESTIVOS</strong></u>  </p>
  <p>37.	Los Sábados, Domingos, Festivos y Puentes, se trabajará voluntariamente  previo acuerdo con el trabajador y el Comité de Empresa.  </p>
  <p>38.	El trabajador y el Comité de empresa deberán ser avisados con una  antelación no inferior a 48 horas. Así mismo, se hará entrega al Comité de  empresa listado por secciones del personal.  </p>
  <p>39.	Preferiblemente, el personal que trabaje Sábados, Domingos, Festivos o Puentes  será el del turno de mañana y noche, y el que menos haya realizado durante el  año en curso.  </p>
  <p>40.	El horario de cada turno será el que a continuación se detalla, con un  tiempo de descanso de 30 minutos cada turno:  </p>
  <p>- Turno Mañana:      06:00  a 14:00 horas.<br />
    - Turno Tarde:           14:00  a 22:00 horas.<br />
  - Turno Noche:          22:00  a 05:50 horas  </p>
  <p>41.	El precio diario de Sábados y Puentes, para el año 2007 y 2008 será 163 €  brutos para el turno de mañana, 204 € brutos para el turno de tarde y 230 €  brutos para el turno de noche.  </p>
  <p>Para el resto de años de vigencia del presente Pacto, los valores serán:  170 € brutos para el turno de mañana, 211 € brutos para el turno de tarde y 237  € brutos para el turno de noche.  </p>
  <p>Así mismo, para Domingos y Festivos, el precio diario para el año 2007 y  2008 será de 230 € brutos, para turnos de mañana, tarde y/o noche. Y de 237 €  brutos, para el resto de años de vigencia del presente Pacto</p>
  <p><u><strong>HORAS EXTRAORDINARIAS</strong></u>  </p>
  <p>42.	El Precio de una hora extraordinaria de un día laborable será de 16 €/hora,  para los años 2007 y 2008 Para el resto de años de vigencia del presente Pacto,  el precio será de 16,50 €/hora.  </p>
  <p>En caso de realizar horas extraordinarias en horario nocturno o día no  laborable, el precio será de 26,75 €/hora para los años 2007 y 2008 y de 27,00  €/hora para el resto de años de vigencia del presente Pacto.  </p>
  <p>43.	La Empresa facilitará al Comité informe mensual.</p>
  <p><u><strong>VACACIONES</strong></u>  </p>
  <p>44.	Todo empleado, disfrutará del periodo de vacaciones de verano en el mes de  agosto, como mínimo una vez cada dos años, exceptuando los casos de los trabajadores  de Equipo Original que repitan dos años consecutivos en Agosto, que cabe la  posibilidad que tengan que repetir dos años consecutivos en el mes de julio.  </p>
  <p>45.	El periodo vacacional podrá ser revisado por motivos de producción.</p>
  <p>46.	La Dirección de la Empresa, comunicará el Turno de Vacaciones a cada  empelado, con una antelación mínima de tres meses.</p>
  <p><u><strong>NUEVA CONTRATACIÓN</strong></u>  </p>
<p>47.<span class="anulado"> El personal de nueva contratación a partir de 1 de enero de 2008, ya sea a  través de contrato Tenneco o a través de Empresa de Trabajo Temporal, percibirá  la Prima por Eficiencia Directa (PED) según siguiente baremo:</span></p>
  <p class="anulado">los 6 primeros meses de antigüedad:       20%  de PED<br />
  entre 6 y 12 meses de antigüedad:           50%  de PED<br />
  entre 12 y 18 meses de antigüedad:        70%  de PED<br />
  A partir de 18 meses de antigüedad:        100  % de PED</p>
  <p class="novedad">47.	Se modifica el punto 47 del pacto de mejora  2007-2011, eliminando el horizonte temporal y creando una nueva escala para la  prima de eficiencia (PED), aplicable al personal contratado a partir del 1 de  Enero de 2014, que será la siguiente.</p>
  <ul>
    <li class="novedad">Los 12  primeros meses de antigüedad:50% del (PED)</li>
    <li class="novedad">A partir de  12 meses de antigüedad: 100% del (PED).</li>
  </ul>
  <p class="novedad">47.1	Se añade el punto 47.1 al pacto de mejora  2007-2011, con el texto siguiente:</p>
  <ul>
    <li class="novedad">El personal  de nueva contratación que sea contratado a partir del 1 de Enero de 2014, tendrá  los siguientes salarios de incorporación.</li>
    <li class="novedad">Primer y  segundo años de antigüedad: salario convenio colectivo para la industria, la  tecnología y los servicios del sector del metal de Valencia.</li>
    <li class="novedad">Tercer año de  antigüedad  85% del salario diario  Tenneco Automotive ibérica, s.a.(planta de Valencia).</li>
  </ul>
  <ul>
    <li class="novedad">Cuarto año de  antigüedad 87%  del salario diario  Tenneco Automotive ibérica, s.a. (planta de Valencia).</li>
  </ul>
  <p>&nbsp;</p>
  <ul>
    <li class="novedad">Quinto año de  antigüedad: 90%  del salario diario  Tenneco Automotive ibérica, s.a.(planta de Valencia).</li>
  </ul>
  <ul>
    <li class="novedad">Sexto año de  antigüedad: 100%  del salario diario  Tenneco Automotive ibérica, s.a.(planta de Valencia).</li>
  </ul>
  <p>&nbsp;</p>
  <p class="novedad">El  concepto denominado plus distancia, respecto al personal contratado a partir  del 1 de Enero de 2014, recibirá el tratamiento establecido con el convenio  colectivo para la industria, la tecnología y los servicios del sector del metal  de Valencia, de tal modo que no será de aplicación para las nuevas  contrataciones.</p>
  <p class="novedad">Por  otra parte, respecto a dicho personal contratado a partir del1 de Enero de  2014, se seguirán por la siguiente:</p>
  <ul>
    <li class="novedad">El cómputo de  años de antigüedad a efectos de porcentaje (%) de salario diario Tenneco  Automotive ibérica s.a. (planta de valencia) se mantendrá consolidado, aunque  la relación laboral sea interrumpida por causa baja laboral en la empresa.</li>
  </ul>
  <p>&nbsp;</p>
  <ul>
    <li class="novedad">Aquellos  empleados que se encuentren con contrato laboral de relevo, una vez finalicen  el mismo, si son nuevamente contratados, con un contrato distinto al de relevo,  consolidaran el tiempo de contrato de relevo como antigüedad a efectos del% de  salario diario Tenneco Automotive ibérica, s.a. (planta de valencia).</li>
  </ul>
  <ul>
    <li class="novedad">Aquellos  empleados que sean contratados a través de una ETT, el tiempo que hayan estado  cedidos en Tenneco Automotive ibérica s.a. (planta de valencia), se consolidara  como antigüedad a efectos del % de salario diario Tenneco  Automotive ibérica s.a. (planta de Valencia)</li>
  </ul>
  <p>&nbsp;</p>
  <ul>
    <li class="novedad">La empresa se  compromete a pasar a 100% salario diario Tenneco automotive ibérica s.a.(planta  de valencia) a un número de trabajadores equivalente al de despidos que se  produzcan, excluidos los despidos por motivos disciplinarios, del personal  contratado antes del 1 de enero de 2014 y no acogido al plan de desarrollo  retributivo.</li>
    <li class="novedad">La empresa a  partir del tercer año de vigencia del inicio del plan de desarrollo retributivo,  y sin perjuicio de lo indicado posteriormente respecto a las nuevas  plataformas, se compromete a no superar en un 15% el número de plantilla  encuadrada en el tramo correspondiente a &ldquo;primer y segundo años de antigüedad&rdquo;.  Dicho 15% se calculara sobre el número de empleados con contrato indefinido de  Tenneco Automotive ibérica, s.a. (planta de Valencia) del colectivo  perteneciente al colegio de especialistas y no cualificado. En todo caso, dicho  límite del 15% no se activara en caso de que las nuevas contrataciones estén  motivadas por nuevas plataformas.</li>
  </ul>
  <p class="novedad">El  resto de condiciones del personal contratado a partir del 1 de enero de 2014  serán las previstas en el pacto de mejora 2007-2011.</p>
  <p class="novedad">Lo  previsto en el presente apartado (47.1) no resultara de aplicación respecto del  personal con contrato de relevo acogido a fecha de hoy o que se acoja en el  futuro al plan de acceso a la jubilación parcial, de fecha 27 de Marzo de 2013,  salvo lo previsto anteriormente para la consolidación del tiempo de contrato de  relevo como antigüedad a efectos del %de salario diario Tenneco Automotive  ibérica, s.a.(planta de Valencia).</p>
  <p></p>
  <p>48.	Los trabajadores contratados a través de ETT, no podrán superar un periodo  máximo de 3 meses. Dicho periodo empezará a computar a partir del 1 de enero de  2008 y hasta el año 2011.</p>
  <p>En caso de superar dicho periodo,  se  les realizará un contrato Temporal Tenneco.</p>
  <p>49.	Los trabajadores temporales tendrán preferencia a la hora de hacer un  contrato indefinido Tenneco así como para la realización de contratos de  relevo.</p>
  <p><u><strong>SEGURO DE VIDA</strong></u>  </p>
  <p>50.	El seguro colectivo por incapacidad absoluta y permanente total o muerte  será de 33.858 € para el año 2007 incrementándose anualmente según el  IPC previsto por el Gobierno + 1 punto.  </p>
  <p><span class="novedad">- Para el año 2014:  incremento del uno con diez por ciento (1.10%). <br />
- Para el año 2015: incremento del porcentaje (%)  que se acuerde en el convenio colectivo para la industria, y la tecnología y  los servicios del sector del metal de Valencia 2015.  <br />
- Para el año 2016: incremento del porcentaje (%) que se acuerde en el  convenio colectivo para la industria, y la tecnología y los servicios del  sector del metal de Valencia 2016<br />
  </span> </p>
  <p><span class="novedad">El  resto de conceptos salariales del pacto de mejora 2007-2011 se mantienen en los  importes vigentes del citado pacto de mejora.</span> </p>
  <p>51.	La Empresa entregará al Comité de Empresa una copia de la póliza de  seguros.</p>
  <p><u><strong>COMITÉ DE EMPRESA</strong></u>  </p>
  <p>52.	La Empresa comunicará por escrito al Comité de Empresa todas las reuniones  que pretenda realizar con los trabajadores así como el contenido de las mismas  con una antelación no inferior a 48 horas.</p>
  <p><u><strong>RÉGIMEN SOCIAL</strong></u>  </p>
  <p>53.	En el caso de ILT por accidente o enfermedad profesional se abonará el 100%  de la base reguladora del último mes trabajado desde el primer día de la baja.  </p>
  <p>54.	En el caso de baja por enfermedad se abonará el Salario Diario Tenneco  Automotive Ibérica S.A. (planta Valencia) más antigüedad consolidada desde el  segundo día de la baja.  </p>
  <p>55.	La Empresa aceptará todos los contratos de relevo que se planteen, en los  términos recogidos en el vigente Convenio Colectivo Provincial para la  Industria del Metal de Valencia.  </p>
  <p>56.	La Empresa entregará a cada trabajador cada dos años un regalo corporativo  a determinar junto con el Comité de Empresa.  </p>
  <p>57.	Se repartirán equipos completos de ropa a todos los trabajadores  reemplazando los mismos cuando estos se deterioren en un plazo no superior a  cinco días laborables desde el día de la solicitud. Los equipos de ropa estarán  compuestos por chaqueta, camisa y pantalón.  </p>
  <p>Así mismo, se deberá hacer entrega a la Empresa de la ropa deteriorada.  </p>
  <p>58.	Se dotará de unas gafas de protección graduadas a todo el personal que  utilice lentes correctores.  </p>
  <p>59.	La Empresa dispondrá de un vehículo para el traslado de accidentados.  </p>
  <p>60.	Para los traslados de los equipos de mantenimiento a las distintas naves de  Tenneco Automotive Ibérica S.A. (planta Valencia) se utilizará un vehículo de  la Compañía.  </p>
  <p>61.	Se realizará como mínimo un chequeo completo anual a cada trabajador. Se  realizarán cuantos análisis sean necesarios para preservar la salud de los  trabajadores de acuerdo a la legislación vigente.  </p>
  <p>62.	A partir de 2008 la Empresa sustituirá las actuales fuentes de agua que  existen en las áreas de producción y distribución, por fuentes de agua tratada.  </p>
  <p>63.	La Empresa limpiará la ropa de  trabajo de aquellos trabajadores que de una forma constante trabajen con la  fibra E-glass.   </p>
  <p>Si las condiciones higiénicas de dicha área se ven mejoradas, se realizarán  los estudios pertinentes con el fin de dejar de aplicar dicho punto.  </p>
  <p>64.	Todo empleado con contrato indefinido podrá solicitar anualmente un tubo de  escape de fabricación en la planta de Beniparrell (Valencia) a precio cero o un  catalizador a precio de coste, para el vehículo que tenga en propiedad.  </p>
<p>En ambos casos se aplicará la Legislación vigente en materia Impositiva y  Seguridad Social.  </p>
  <p>65.	La Empresa se compromete a buscar y analizar a partir del año 2009 un  sistema de promoción y un sistema de formación. Así mismo, se compromete a  estudiar y buscar una solución a la movilidad funcional.</p>
  <p class="novedad">Ante  cualquier posición, tanto de nueva creación como vacante que hubiera que  cubrir, la empresa informara de ello a través del tablón de RRHH, indicando los  requisitos mínimos necesarios para poder optar al proceso de selección.  Asimismo, se informara de las pruebas que se realizaran. Todo ello, con el fin  de promover la promoción interna.</p>
  <p><u><strong>OBJETIVOS</strong></u>  </p>
  <p>66.	La Empresa pagará a todos los trabajadores de Tenneco Automotive Ibérica  S.A. (planta Valencia) acogidos a este Pacto,   una prima por logro de objetivos de 160 €. para los años 2007 y 2008, y  de 165 € para el resto de años de vigencia del presente Pacto.  </p>
  <p>67.	Los objetivos serán revisados al finalizar el año y se pagarán según el  porcentaje de consecución de los mismos.  </p>
  <p>68.	Los objetivos serán fijados por la Empresa durante el primer trimestre de  cada año y comunicados por escrito al Comité de Empresa.</p>
  <p><u><strong>FLEXIBILIDAD</strong></u>   </p>
  <p>69.	Se establece un porcentaje de eventualidad del 15% sobre el número de  trabajadores con contrato indefinido de Tenneco Automotive Ibérica, SA. (planta  Valencia) durante la vigencia del presente Pacto de Mejora  </p>
  <p>Para determinar dicho porcentaje, el personal con contrato a tiempo parcial  por pre-jubilación, computará como plantilla indefinida. Y el personal con  contrato de relevo no computará ni como plantilla indefinida ni como eventual.</p>
<p><u><strong>DISPOSICIÓN FINAL</strong></u>  </p>
  <p>70.	En todo lo no previsto expresamente en este pacto de mejora se estará a lo  dispuesto en el Estatuto de los Trabajadores y en el Convenio Colectivo  Provincial para la Industria del Metal de Valencia, vigente.</p>
  <p><u> <strong>BOLSA DE TRABAJO</strong></u></p>
  <p class="novedad">71.	Se  añade al pacto de mejora 2007-2011 el punto 71, el cual hace referencia a la  creación de una bolsa de trabajo, que se regirá por lo dispuesto a  continuación:</p>
  <ul>
    <li class="novedad">Entraran en  la misma aquellos empleados que, habiendo sido contratados a partir del 1 de  Enero de 2014 y encontrándose acogidos al plan de desarrollo retributivo  previsto en el apartado 5  del presente  anexo, con independencia del tramo en que se encuentre, tengan como mínimo un  año de antigüedad en la empresa.</li>
    <li class="novedad">No serán  incluidos en la bolsa o serán excluidos de la misma aquellos trabajadores que  causen baja en la empresa por despido o baja voluntaria, así como aquellos que  rechacen una oferta de trabajo de Tenneco.</li>
    <li class="novedad">El orden de  llamada a incorporación se realizara siguiendo criterios de antigüedad, siempre  bajo la condición de cumplimiento de los requisitos exigidos para el puesto de  trabajo.</li>
    <li class="novedad">El personal  que actualmente tiene contrato vigente a través de ETT será incorporado a la  bolsa computando, a efectos de la requerida bolsa, la antigüedad obtenida desde  el 1 de Enero a 31 de Diciembre de 2013 en la ETT.</li>
    <li class="novedad">Se creara una  comisión paritaria de cuatro miembros, dos por cada parte.</li>
    <li class="novedad">La bolsa de  trabajo podrá ser gestionada de forma interna por la empresa, o externa a  través de una empresa de servicios.</li>
</ul>
  <p></p>
  <p>Ambas partes Dirección y Comité acuerdan aceptar y firmar el presente  documento en todo su contenido, en </p>
  <p>&nbsp;</p>
  <p>Beniparrell a trece de diciembre de 2007.</p>
</body>
</html>

  </ion-content>
</ion-view>
                 